# OS-specific
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# LÖVE specific
*.love
*.zip

# Build artifacts
/build/
dist/

# Logs and temps
*.log
*.tmp

# Lua Rocks (if used)
.luarocks/

# Misc
*.bak
